NDEEF_BACKEND_URL=https://ndeefapp.runasp.net
NEXT_PUBLIC_ADMIN_DASHBOARD_URL=http://localhost:5173
NEXT_PUBLIC_ADMIN_API_BASE_URL=https://ndeefapp.runasp.net/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
